<%= bootstrap_form_for([@work.client, @work]) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# f.select :client_id, @clients %>
  </div>

  <div class="field">
    <%= f.text_field :start_time, class: "datetimepicker1" %>
  </div>
  <div class="field">
    <%= f.text_field :end_time, class: "datetimepicker1" %>
  </div>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.check_box :billed %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
