<p id="notice"><%= notice %></p>

<h1>Listing Works</h1>

<%= link_to 'New Work',  new_client_work_path %>
<br>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Title</th>
      <th>Description</th>
      <th>Billed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.start_time.strftime("%m/%d/%Y @ %I:%M%p") %></td>
        <td><%= work.end_time.strftime("%m/%d/%Y @ %I:%M%p") %></td>
        <td><%= work.title %></td>
        <td><%= work.description %></td>
        <td><%= work.billed %></td>
        <!--<td><%# link_to 'Show', [work.client, work] %></td>-->
        <td><%= link_to 'Edit', edit_client_work_path(work.client, work) %></td>
        <td><%= link_to 'Destroy', [work.client, work], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
