<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @work.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work.end_time %>
</p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work.description %>
</p>

<p>
  <strong>Billed:</strong>
  <%= @work.billed %>
</p>

<%= link_to 'Edit', edit_client_work_path(@work.client, @work) %> |
<%= link_to 'Back', client_works_path(@work.client) %>
