<div class="col-sm-6 col-sm-offset-3">

<p id="notice"><%= notice %></p>

<p>
  <span class="startend">Start… </span><br>
  <%= @work.start_time.strftime("%m/%d/%Y _ %I:%M%p") %>
</p>

<p>
  <span class="startend">End… </span><br>
  <%= @work.end_time.strftime("%m/%d/%Y _ %I:%M%p") %>
</p>

 <h1> <%= @work.title %> </h1>

<p>
  <%= @work.description %>
</p>
. . .
<br>
<p>
  <span class="billed-yet">Billed?</span>
  <%= @work.money_dollars %>
</p>

<div class="link-action">
&#62;<%= link_to 'Edit', edit_client_work_path(@work.client, @work) %> <br>
&#62;<%= link_to 'Index', client_works_path(@work.client) %>
</div>

</div>