<div class="col-sm-8 col-sm-offset-2">

<p id="notice"><%= notice %></p>

<h1>Clients <span class="header-link"> &#62; <%= link_to 'Add a Client', new_client_path %></span></h1>


<br>
<br>

<div class="table-responsive">
<table class="table table-striped">

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><h2><%= link_to client.name, client_works_path(client) %></td></h2>
        <!--<td><%# link_to 'Show', client %></td>-->
        <td class="actions"> &#62;<%= link_to 'Edit', edit_client_path(client) %> <br>
       &#62;<%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= will_paginate (@clients), renderer: BootstrapPagination::Rails %>

</div>