<!DOCTYPE html>
<html>
<head>
  <title>TddThree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand"><%= link_to "hourly", root_path, id: "logo" %></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Clients", root_path %></li>
            <li><%= link_to 'Edit account', edit_user_registration_path, :class => 'navbar-link' %> </li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="container main-content">
  <%= yield %>
</div>


    <script type="text/javascript">
      $('.datetimepicker9').datetimepicker({
        step:15,
        // formatTime:'g:i a',
        //mask:true,
        // format:'m/d/Y g:i a',
        minDate:0,

        formatTime:'g:i a'

        // disabledDates: ['12.02.2014 10:30','12.08.2014 11:00'], 
        // formatDate:'m.d.Y H:i'
      });
    </script>
</body>
</html>
